* {
  --color-dark: #111;
  --color-light: rgb(22, 247, 6);
  font-size: min(1rem, 10vw);
}

body {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  position: absolute;
}
.dark {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.large-input {
  border: solid;
  width: calc(100% - 0.5rem);
  height: calc(40vh);
}

.small-input {
  border: solid;
  width: calc(100% - 0.5rem);
  height: calc(10vh);
}

.button {
  border: solid;
  padding: 0.5rem;
  min-width: 20vw;
}

.dark .small-input,
.dark .large-input {
  background-color: var(--color-dark);
  color: var(--color-light);
  border-color: var(--color-light);
}

.dark .button {
  background-color: var(--color-dark);
  color: var(--color-light);
  border-color: var(--color-light);
}

.hidden {
  display: none;
}

.center {
  text-align: center;
}

textarea {
  resize: none;
}

.wizard {
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  overflow: auto;
}

.yesorno {
  display: block;
}

.yesorno.yes .if-yes {
  display: inherit;
}

.yesorno.no .if-yes {
  display: none;
}

.checkbox {
  width: 2rem;
  height: 2rem;
}

.fill-width {
  width: 100%;
}